{
  "verifyConditions": ["semantic-release-chrome", "@semantic-release/github"],
  "prepare": [
    {
      "path": "semantic-release-chrome",
      "asset": "youtube-autoclose-ads.zip",
      "distFolder": "build"
    }
  ],
  "publish": [
    {
      "path": "semantic-release-chrome",
      "asset": "youtube-autoclose-ads.zip",
      "extensionId": "mppjhhbajcciljocgbadbhbgphjfdmhj"
    },
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "youtube-autoclose-ads.zip"
        }
      ]
    }
  ],
  "analyzeCommits": {
    "releaseRules": [
      {
        "scope": "manifest",
        "release": "patch"
      }
    ]
  }
}
